trigger:
  none

pool:
  name: Avivapool

parameters:
  - name: appid
    displayName: app id
    default: mmc-ach
    values:
      - mmc-ach
      - mmc-global
      - mmc-internal
  - name: environment
    displayName: environment name
    default: dev
    values:
      - dev
      - UAT
      - Perf
      - prod  

variables:
  - template: envfiles/${{ parameters.environment }}.yaml

stages:
- stage: Build_Stage
  displayName: Build_stage
  jobs:
  - job: Build_Job
    displayName: Build_job
    steps:
    - script: |
        echo "Reading config for environment: ${{ parameters.environment }}"

        JSON_PATH="$(Build.SourcesDirectory)/envfiles/envconfig.json"
        ENV=$(echo "${{ parameters.environment }}" | tr -d '\r')
        APPENV=$(echo "${{ parameters.appid }}-${{ parameters.environment }}" | tr -d '\r')

        RESOURCE_GROUP=$(jq -r ".\"$APPENV\".RG_name" "$JSON_PATH")
        NAMESPACE=$(jq -r ".\"$APPENV\".namespace" "$JSON_PATH")
        CLUSTERNAME=$(jq -r ".\"$APPENV\".clustername" "$JSON_PATH")
        DEPLOYMENT_NAME="${{ parameters.appid }}-${{ parameters.environment }}-$(tag)"
        DEPLOYMENT_NAME="${DEPLOYMENT_NAME//$'\r'/}"

        echo "##vso[task.setvariable variable=resourceGroup;isOutput=true]$RESOURCE_GROUP"
        echo "##vso[task.setvariable variable=namespace;isOutput=true]$NAMESPACE"
        echo "##vso[task.setvariable variable=clustername;isOutput=true]$CLUSTERNAME"
        echo "##vso[task.setvariable variable=deploymentname;isOutput=true]$DEPLOYMENT_NAME"
        echo "##vso[task.setvariable variable=appenv;isOutput=true]$APPENV"

        echo "Loaded config for $ENV"
      name: SetEnvVars
      displayName: 'Before-script- Load the variables'

    - script: |
        echo "Using RG: $(SetEnvVars.resourceGroup)"
        echo "Namespace: $(SetEnvVars.namespace)"
        echo "Cluster: $(SetEnvVars.clustername)"
        echo "deploymentname: $(SetEnvVars.deploymentname)"
        echo "appenv: $(SetEnvVars.appenv)"
        echo "tag: $(tag)"
        
      displayName: 'Before-script- Print loaded variables'

    # OWASP Dependency-Check scan step
    - script: |
        echo "Installing unzip utility"
        sudo apt-get update
        sudo apt-get install -y unzip
        
        echo "Installing OWASP Dependency-Check CLI"

        wget https://github.com/jeremylong/DependencyCheck/releases/download/v8.4.1/dependency-check-8.4.1-release.zip
        unzip dependency-check-8.4.1-release.zip -d dependency-check
        
        chmod +x dependency-check/dependency-check/bin/dependency-check.sh

        echo "My PWD:"
        pwd

        echo "Running OWASP Dependency-Check scan"
        ./dependency-check/dependency-check/bin/dependency-check.sh --project "MMCProject" --scan ./src --out ./dependency-check-report --prettyPrint --suppression suppressions.xml

        echo "Dependency-Check reports generated in dependency-check-report directory"
      displayName: 'Run OWASP Dependency-Check Scan'  

    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false

    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: '$(tag)'

- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build_Stage
  variables:
    resourceGroup: $[ dependencies.Build_Stage.outputs['Build_Job.SetEnvVars.resourceGroup'] ]
    namespace: $[ dependencies.Build_Stage.outputs['Build_Job.SetEnvVars.namespace'] ]
    clustername: $[ dependencies.Build_Stage.outputs['Build_Job.SetEnvVars.clustername'] ]
    deploymentname: $[ dependencies.Build_Stage.outputs['Build_Job.SetEnvVars.deploymentname'] ]
    tag: $[ dependencies.Build_Stage.outputs['Build_Job.SetEnvVars.tag'] ]
    environment: ${{ parameters.environment }}
  jobs:
  - deployment: Deploy
    displayName: Deploy
    environment: ${{ parameters.environment }}_Approve
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: AzureCLI@2
            displayName: 'Login using Federated Identity and get AKS credentials'
            inputs:
              azureSubscription: 'raja-az-cloud-sc'  # Federated identity service connection
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az aks get-credentials --name $(clustername) --resource-group $(resourceGroup) --overwrite-existing
                kubectl config use-context $(clustername)
                kubectl config set-context $(clustername) --namespace=$(namespace)
                
          - script: |
              curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
            displayName: 'Install Helm CLI'

          - script: |
             helm plugin install https://github.com/databus23/helm-diff || echo "Helm diff plugin already installed"
            displayName: 'Install Helm Diff Plugin'

          - script: |
              git clone https://rajalearn90:$(HELMREPO)@github.com/rajalearn90/HelmfileRepo.git
            displayName: 'Helm Repo clone'

          - script: |
              helm template $(deploymentname) ./HelmfileRepo --debug -f values/$(environment).yaml
            displayName: 'Deploy with Helmfile using env specific values file'
